@model Metasoft.Models.Perfil

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Perfil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encaminhar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encaminhar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anexar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anexar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encerrar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encerrar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reclassificar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reclassificar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reabrir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reabrir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imprimir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imprimir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdicionarHistorico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdicionarHistorico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExibirHistorico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExibirHistorico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
