@model IEnumerable<Metasoft.Models.Contato>

@if (Model != null)
{
    if (Model.Count() > 0)
    {
            <table id="contatos" class="contatos">
               <thead>
                   <tr>
                       <th class="hidden"></th>
                       <th class="fs12"style="width:30%;min-width:30%;max-width:30%;">&nbsp;Nome</th>
                       <th class="fs12" style="width:30%;min-width:30%;max-width:30%;">&nbsp;Email</th>
                       <th class="fs12" style="width:15%;min-width:15%;max-width:15%;">&nbsp;Fone</th>
                       <th class="fs12" style="width:15%;min-width:15%;max-width:15%;">&nbsp;Celular</th>
                       <th class="fs12 tac" style="width:8%;min-width:8%;max-width:8%;">Ações</th>
                   </tr>
               </thead>
               <tbody>

                   @foreach (var item in Model)
                   {
                       <tr>
                           <td class="hidden">@item.contatoid</td>
                           <td>&nbsp;@item.nome</td>
                           <td>@item.email</td>
                           <td>@item.fone</td>
                           <td>@item.celular</td>
                           <td class="tac"><a id="excluircontato" class="actionicon" href="#" title="Excluir contato" onclick="DeleteContatoConfirm(@item.contatoid,'@item.nome');"><i class="fa fa-trash"></i></a></td>
                       </tr>
                   }
               </tbody>
            </table>
    }
    else
    {
        <div>
            Não há contatos cadastrados para este cliente
        </div>
    }
}
else
{
 <div>
     Não há contatos cadastrados para este cliente
 </div>
}
<script>
    function DeleteContatoConfirm(id, nome) {

        bootbox.confirm({
            message: "Confirma exclusão do contato " + nome + " ?",
            buttons: {
                confirm: {
                    label: 'Sim',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Não',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result == true) {
                    DeleteContato(id);
                }

            }
        });
    }

    function DeleteContato(id) {
        $.ajax({
            cache: false,
            type: "POST",
            url: '/Clientes/ExcluirContato',
            data: {
                "id": id,
            },
            success: function (data) {
                /* Update clientList*/

                msg("Contato excluido com sucesso")
                window.setTimeout('location.reload()', 2000);

            },
            error: function (xhr, ajaxOptions, thrownError) {

                msg('Falha ao excluir contato');
            }
        });
    }
</script>