@model Metasoft.Models.ReembolsoListViewModel


@{ViewBag.Title = "Rembolsos cadastrados";
 
}
<div>
    <div col-md-1>
        @Html.DisplayFor(model => model.dtcad)
    </div>
    <div col-md-1>
       @Html.DisplayFor(model => model.vencimento)
    </div>
 
</div>
@*<td class="hidden">@Html.DisplayFor(modelItem => item.reembolsoid)</td>
<td class="hidden">@Html.DisplayFor(modelItem => item.tipoid)</td>
<td class="hidden">@Html.DisplayFor(modelItem => item.userid)</td>*@















