@model Metasoft.Models.Comercial

@{ ViewBag.Title = "Alterar Comercial";}


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "AlterarComercial" }))
{
    @Html.AntiForgeryToken()
    <br />
    <br />
    <div class="panel panel-default" style="width:60%;margin:0 auto;height:50px;">
        <div class="panel-heading-crud">
            <div class="inlinediv" style="float:left;"><i class="fa fa-user fs20"></i>&nbsp; @ViewBag.Title</div>
        </div>
        <div class="panel-body panel-body-crud" style="padding:5px 5px 5px 5px;">
            <div class="row">
               
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.nome, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                    </div>
                </div>
               
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>

            <div class="row">
                <a id="saveico" href="#" onclick="submitform('AlterarComercial');" title="Salvar" class="actionicon savenew" style="font-size:26px;"><i id="saveimg" class="fa fa-save"></i></a>
                <a id="alterarico" href="/Comercial/ListaComercial" title="Voltar para lista" class="actionicon savenew" style="font-size:26px;"><i id="alcliimg" class="fa fa-arrow-left"></i></a>
            </div>

        </div>
    </div>
}


@section Scripts {
    <script type="text/javascript">
      $(document).ready(function () {
        if ('@Html.Raw(ViewBag.jaexiste)' != "") { msg('@Html.Raw(ViewBag.jaexiste)'); }
      });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}


