@model Metasoft.Models.Reembolso

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Reembolso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dtcad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtcad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vencimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vencimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtpagto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtpagto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.situacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.reembolsoid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
