@model Metasoft.Models.InputViewModel

<div class="@Model.DivClass" style="margin-top:@Model.Mtop;border: 0px 0px 0px 1px">
    <div>@Model.Title</div>
    <div class="@Model.InputClass" style="width:12px;position:relative;top:-5px; left:10px;">
        <input id="@Model.Id" name="@Model.Id"  type="checkbox"  class="form-control fs12" value="false"   />
    </div>
</div>
