@using Microsoft.AspNet.Identity
@using Metasoft.Models
@{ 
    Permissao permissoes = (Permissao)Session["permissoes"];
}
@if (Request.IsAuthenticated)
{
    if(permissoes != null)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="/Manage/AlteracaoSenha" title="Olá&nbsp;@User.Identity.GetUserName()" style="float:right;margin-right:10px;color:white;"><i class="fas fa-user-alt fa-2x"></i></a>
                    </li>
                    @if (permissoes.rep_view)
                    {
                            <li>
                                <a href="/Home/ResumoDiario" style="float:right;margin-right:10px;color:white;"><i class="fas fa-list-alt fa-2x"></i></a>
                            </li>
                    }
                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-sign-out-alt fa-2x"></i></a></li>
            </ul>
            <ul class="nav navbar-nav  navbar-right" style="margin-top:3px;">
                   @if (permissoes.pro_edit || permissoes.pro_view){
                        <li> @Html.ActionLink("Propostas", "ListaPropostas", "Propostas", null, htmlAttributes: new { style = "color:white;" }) </li>
                   }
                    @if (permissoes.ctt_edit || permissoes.ctt_view || permissoes.rem_edit || permissoes.rem_view)
                    {
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle mainmenuitem" type="button" data-toggle="dropdown" style="margin-top:10px;">Comercial&nbsp;<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    @if (permissoes.ctt_edit || permissoes.ctt_view)
                                    {
                                        <li>@Html.ActionLink("Contratos", "ListaContratos", "Contratos", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                                    }
                                    @if (permissoes.rem_edit || permissoes.rem_view)
                                    {
                                        <li>@Html.ActionLink("Remuneração", "ListaRemuneracao", "Remuneracao", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                                    }
                                   
                                </ul>
                            </div>
                        </li>

                    }

                   @if (permissoes.pag_edit || permissoes.pag_view){
                        <li>@Html.ActionLink("A pagar", "ApagarAnalitico", "ContaPrs", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                    }
                    @if (permissoes.rec_edit || permissoes.rec_view){
                        <li>@Html.ActionLink("A Receber", "AreceberAnalitico", "ContaPrs", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                    }

                   @if (permissoes.ree_view || permissoes.ree_edit)
                   {
                       if (User.IsInRole("Administrador"))
                       {
                        <li>@Html.ActionLink("Reembolsos", "ListaReembolso", "Reembolsoes", null, htmlAttributes: new { @class = "mainmenuitem btn btn-primary" })</li>
                       }
                       else
                       {
                        <li>@Html.ActionLink("Reembolsos", "ReembolsoUsuario", "Reembolsoes", null, htmlAttributes: new { @class = "mainmenuitem btn btn-primary" })</li>
                       }

                   }
                   @if (permissoes.rep_view){
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle mainmenuitem" type="button" data-toggle="dropdown" style="margin-top:10px;">Relatórios&nbsp;<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Diário Consolidado", "DiarioConsolidado", "ContaPrs", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                                    <li>@Html.ActionLink("Mensal Consolidado", "MensalConsolidado", "ContaPrs", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                                    <li>@Html.ActionLink("A Pagar por categoria", "ApagarPorCategoria", "ContaPrs", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                                    <li>@Html.ActionLink("A Receber por categoria", "AreceberPorCategoria", "ContaPrs", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                                    @*<li>@Html.ActionLink("DRE", "Dre", "ContaPrs", null, htmlAttributes: new { @class = "mainmenuitem" })</li>*@
                                    <li>@Html.ActionLink("Orçamento", "OrcamentoAnual", "ContaPrs", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                                    <li>@Html.ActionLink("Extrato", "Extrato", "ContaPrs", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                                </ul>
                            </div>
                        </li>
                    }

                   @if (permissoes.cad_edit)
                   {
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle mainmenuitem" type="button" data-toggle="dropdown" style="margin-top:10px;">Cadastros&nbsp;<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li class="disabled">@Html.ActionLink("Bancos", "ListaBancos", "Bancos", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                                    <li>@Html.ActionLink("Categorias", "ListaCategorias", "Categorias", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                                    <li>@Html.ActionLink("Clientes", "ListaClientes", "Clientes", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                                    <li>@Html.ActionLink("Comercial", "ListaComercial", "Comercial", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                                    <li>@Html.ActionLink("Fornecedores", "ListaFornecedores", "Clientes", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                                    <li>@Html.ActionLink("Índices", "ListaIndices", "Indices", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                                    <li>@Html.ActionLink("Perfis", "ListaPerfis", "Perfis", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                                    <li>@Html.ActionLink("Produtos", "ListaProdutos", "Produtos", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                                    <li>@Html.ActionLink("Reembolsos", "ListaReembolso", "Reembolsoes", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                                    <li>@Html.ActionLink("Tipos Reembolso", "ListaTiposReembolso", "TiposReembolso", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                                    <li>@Html.ActionLink("Usuários", "ListaUsuarios", "Usuarios", null, htmlAttributes: new { @class = "mainmenuitem" })</li>
                                </ul>
                            </div>
                        </li>
                   }
            </ul>

            }
        }
        else
        {
            permissoes = new Permissao { cad_edit = false, pag_edit = false, cad_view = false, pag_view = false, pro_edit = false, pro_view = false, rec_edit = false, rec_view = false, ree_edit = false, ree_view=false, rep_edit=false, rep_view=false};


    }
}
        else
        {
    <ul class="nav navbar-nav navbar-right">
        <li><a class="fa fa-sign-in fa-2x" href="/Account/Login" id="loginLink"></a></li>
    </ul>
}
